

/*
.transparent-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.transparent-button:hover {
    background-color: #fff;
    color: #000; 
}
    */